@use "./helpers/" as *;

.rate-calculator-page {
  --accent-color: #ff8500;
  --accent-color-light: #fffac7;
  --secondary-color: #00a0d1;
  --grey-color: #e5e7eb;

  padding: fluid(40, 60) rem(20) fluid(60, 130) rem(20);

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  &__bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(544);
    z-index: -1;
  }
}

.rate-calculator-wrapper {
}
.rate-calculator {
  max-width: rem(640);
  margin: 0 auto;
  padding: fluid(24, 50) fluid(16, 60);
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(21, 25, 87, 0.06);

  &__header {
    text-align: center;
    margin-bottom: fluid(24, 40);
  }

  &__title-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 40%;
      height: rem(16);
      background-color: #fffac7;
      bottom: 0;
      right: 22%;
      z-index: 1;

      @include x-small {
        display: none;
      }
    }
  }

  &__title {
    color: #00a0d1;
    font-family: "DM Sans";
    font-size: fluid(36, 48);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: rem(16);
    position: relative;
    z-index: 2;
  }
  &__description {
    color: #4f4f4f;
    font-size: fluid(14, 18);
    line-height: 1.5;

    @include small {
      line-height: 1.3;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: fluid(12, 40);
  }

  &__field {
    display: flex;
    padding: 0 fluid(12, 24) rem(10) fluid(12, 24);
    border-bottom: 1px solid #000;
    column-gap: fluid(16, 28);
    align-items: center;
    transition: border-color 0.2s ease;

    &:focus-within {
      border-color: var(--accent-color);
    }

    label {
      display: flex;
      flex-direction: column;
      color: #4f4f4f;
      font-size: fluid(16, 20);
      line-height: 1.5;
      flex-grow: 1;
      row-gap: rem(2);
      line-height: 1.1;

      span {
        &:not(:first-child) {
          color: #8894ab;
          font-size: fluid(10, 14);
          line-height: 1.3;

          @include small {
            line-height: 1.2;
          }
        }
      }
    }

    input {
      width: 100%;
      background: #fff;
      outline: none;
      min-height: rem(40);
      padding: rem(2) rem(6);
      flex: 0 0 fluid(80, 130);

      color: #151957;
      font-size: fluid(20, 24);
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      transition: none !important;

      &:disabled {
        background-color: #fff;
        color: #777;
        cursor: not-allowed;
      }
    }

    .highlight-result {
      background-color: var(--accent-color-light) !important;
      font-weight: bold;
    }
  }

  &__buttons {
    display: flex;
    gap: rem(12);
    margin-top: fluid(12, 24);
    button {
      text-transform: uppercase;
    }

    .rate-calculator__button {
      background-color: var(--secondary-color);
      color: #fff;
      flex: 1;
      padding: rem(12);
      font-size: 1rem;
      font-weight: 600;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      text-align: center;

      @include small {
        padding: rem(10);
      }

      &:not(:disabled) {
        @include hover {
          opacity: 0.8;
        }
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    .rate-calculator__button--reset {
      background-color: var(--grey-color);
      color: #1c1c1c;

      &:hover {
        background: #e2e8f0;
      }
    }
  }

  &__breakdown {
    overflow: hidden;
    .rate-calculator__breakdown-item {
      display: flex;
      justify-content: space-between;
      padding: rem(12) 1rem;
      font-size: rem(14);
      border-bottom: 1px solid #e5e7eb;

      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__breakdown-inner {
    overflow: hidden;
  }

  &__footer {
    margin-top: fluid(20, 30);
    padding-top: fluid(20, 30);
    border-top: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
    row-gap: fluid(12, 24);
    &-button {
      background-color: var(--accent-color);
      color: #fff;
      text-align: center;
      font-size: fluid(22, 32);
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      padding: rem(18);
      border-radius: 8px;
      transition: opacity 0.2s ease;

      @include hover {
        opacity: 0.8;
      }
      &--teal {
        background-color: var(--secondary-color);
        text-transform: none;
        font-size: fluid(18, 24);
      }
    }

    &-text {
      color: #4f4f4f;
      font-size: fluid(14, 18);
      line-height: 1.5;
      text-align: center;

      @include small {
        line-height: 1.3;
      }
    }
  }
}

.breakdown {
  margin-top: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #f9fafb;
  overflow: hidden;
  font-family: "Inter", sans-serif;

  &__title {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
    background: #fff;
  }

  &__section {
    padding: rem(12) 1rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: rem(14);
    color: #374151;
    column-gap: rem(12);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    span {
      color: #6b7280;
      line-height: 1.3;
    }

    strong {
      font-weight: 600;
      color: #111827;
    }
  }
  &__highlight {
    background-color: var(--accent-color-light);
    padding-inline: rem(2);
  }
  &__footer {
    padding: rem(12) 1rem;
    border-top: 1px solid #e5e7eb;
    background: #fff;

    .total {
      font-weight: 600;
      font-size: rem(15);
    }
  }
}
